.container {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1000px;
  height: 1000px;
  transform: translate(-50%, -50%);
}

.container iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.section {
  float: left;
  width: 33.3333333333%;
  height: 250px;
}

.section:nth-child(3) {
  background: url(https://cdn.pixabay.com/photo/2014/07/30/02/00/iceberg-404966_1280.jpg);
  background-size: cover;
}

.section:nth-child(3n + 1),
.section:nth-child(3n + 2) {
  border-right: 1px solid #ddd;
}

.section:nth-child(n + 4) {
  border-top: 1px solid #ddd;
}
