.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.9);
}

.header h1 span {
  margin-left: 15px;
  vertical-align: middle;
  font-size: 28px;
  line-height: 32px;
}

.header h1 img {
  display: inline-block;
  height: 30px;
  vertical-align: middle;
}

.navigation {
  position: fixed;
  top: 68px;
  bottom: 0;
  left: 0;
  width: 280px;
  padding: 20px;
  background-color: #fff;
}

.content {
  margin-left: 280px;
  padding: 68px 60px 100px;
}

.footer {
}
