:root {
  --header-height: 66px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  padding: 17px 30px;
  background-color: #fff;
  box-shadow: 0 0 3px 1px rgba(57, 62, 70, 0.3);
}

.header h1 {
  font-size: 0;
}

.header h1 span {
  margin-left: 15px;
  vertical-align: middle;
  font-size: 28px;
  line-height: 32px;
  color: #0075f2;
}

.header h1 img {
  display: inline-block;
  height: 30px;
  vertical-align: middle;
}

.header .meta img {
  display: block;
  height: 24px;
}

.navigation {
  position: fixed;
  top: var(--header-height);
  bottom: 0;
  left: 0;
  width: 280px;
  padding: 20px;
}

.navigation a {
  display: block;
  z-index: 10;
  padding: 10px;
}

.navigation :global(.active):before {
  content: '';
  position: absolute;
  top: 5px;
  bottom: 5px;
  right: -20px;
  z-index: -1;
  width: 2px;
  background-color: #4ecdc4;
}

.navigation > ul > li > :global(.active) {
  font-weight: 700;
}

.navigation li {
  position: relative;
}

.navigation li li {
  padding-left: 20px;
}

.navigation li li :global(.active) {
  color: #393e46;
  background-color: transparent;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin-left: 280px;
  padding-top: var(--header-height);
}

.content {
  padding: 30px 60px 100px;
}

.content section {
  scroll-margin-top: var(--header-height);
}

.footer {
  margin-top: auto;
  padding: 30px 0;
  border-top: 1px solid #eee;
  color: #aaa;
  font-size: 14px;
  text-align: center;
}
