@import url('https://fonts.googleapis.com/css2?family=Moirai+One&display=block');

:root {
  --basic-font-size: 17px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  color: #393e46;
  font-size: var(--basic-font-size);
  line-height: 1.5;
}

h1 {
  font-family: 'Moirai One', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.desc {
  margin-bottom: 80px;
}

h2 {
  margin-bottom: 20px;
  font-size: 30px;
}

h3 {
  margin-bottom: 10px;
  font-size: 22px;
}

h4 {
  margin-bottom: 10px;
  font-size: 18px;
}

p {
  font-size: var(--basic-font-size);
}

p a {
  color: #3498db;
  text-decoration: underline;
}

section + section {
  margin-top: 70px;
}

.example-button + .example-button {
  margin-left: 10px;
}

.playground {
  margin-bottom: 20px;
}

.example-area + .example-area {
  margin-top: 40px;
}

.my-toast {
  background-color: rgba(255, 107, 129, 0.9);
  padding: 10px 20px;
  color: #fff;
  border-radius: 3px;
}

hr {
  margin: 15px 0;
  border-top: 1px dashed #fafafa;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
}

table th {
  background-color: #fafafa;
  text-align: left;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #ddd;
}

code {
  padding: 2px 4px;
  background-color: #f1f1f1;
  border-radius: 2px;
  font-family: 'Source Code Pro', monospace;
  color: #ff6b81;
  font-weight: 700;
}

select {
  height: 42px;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 16px;
  color: #555;
}
