body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.example {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.example button {
  display: block;
  width: 200px;
  padding: 10px;
  outline: 0;
  border: 0;
  border-radius: 3px;
  background-color: #999;
  color: #fff;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}
.example button + button {
  margin-top: 15px;
}
