@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

:root {
  --basic-font-size: 17px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fefefe;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  color: #444;
  font-size: var(--basic-font-size);
  line-height: 1.5;
}

h1 {
  font-family: 'Patrick Hand SC', cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.desc {
  margin-bottom: 80px;
}

h2 {
  margin-bottom: 20px;
  font-size: 30px;
}

h3 {
  margin-bottom: 10px;
  font-size: 22px;
}

h4 {
  margin-bottom: 10px;
  font-size: 18px;
}

p {
  font-size: var(--basic-font-size);
}

p a {
  color: darkgoldenrod;
  text-decoration: underline;
}

section {
  margin-bottom: 50px;
}

.example-button + .example-button {
  margin-left: 10px;
}

.playground {
  margin-bottom: 20px;
}

.example-area + .example-area {
  margin-top: 40px;
}

body .my-toast {
  background-color: rgba(50, 130, 184, 0.8);
  color: #fff;
  border-radius: 8px;
  font-size: 20px;
}

hr {
  margin: 15px 0;
  border-top: 1px dashed #fafafa;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
}

table th {
  background-color: #fafafa;
  text-align: left;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #ddd;
}

table code {
  padding: 2px 4px;
  background-color: #fafafa;
  font-family: 'Source Code Pro', monospace;
}
