#toast_container * {
  box-sizing: border-box;
}
.toast-message.bottom-left {
  bottom: 30px;
  left: 30px;
}
.toast-message.bottom-center {
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
}
.toast-message.bottom-right {
  right: 30px;
  bottom: 30px;
}
.toast-message.top-left {
  top: 30px;
  left: 30px;
}
.toast-message.top-center {
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
}
.toast-message.top-right {
  top: 30px;
  right: 30px;
}
.toast-message.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}
.toast-message {
  opacity: 0;
  position: fixed;
  z-index: 1000;
  transition: opacity 0.3s, transform 0.3s;
}
.toast-message:global(.toast-enter-active),
.toast-message:global(.toast-appear-active) {
  opacity: 1;
}
.toast-message:global(.toast-exit-active) {
  opacity: 0;
}
.toast-content {
  display: inline-block;
}
.clickable {
  cursor: pointer;
}
