#toast_container * {
  box-sizing: border-box;
}
.toast-message {
  opacity: 0;
  position: fixed;
  z-index: 1000;
  transition: opacity 0.3s, transform 0.3s;
}
.toast-message:global(.toast-enter-active),
.toast-message:global(.toast-appear-active) {
  opacity: 1;
}
.toast-message:global(.toast-exit-active) {
  opacity: 0;
}
.toast-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.toast-theme-content {
  transition: all 0.2s;
}
.clickable {
  cursor: pointer;
}
.loading .spinner-wrap {
  visibility: visible;
  opacity: 1;
  width: 1.1em;
  margin-right: 12px;
}
.spinner-wrap {
  display: inline-block;
  visibility: hidden;
  opacity: 0;
  width: 0;
  margin-right: 0;
}
.spinner {
  display: block;
  overflow: hidden;
  width: 1.1em;
  height: 1.1em;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  vertical-align: middle;
  text-indent: -99999px;
  animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
