#toast_container * {
  box-sizing: border-box;
}
.toast-list {
  box-sizing: border-box;
  position: fixed;
  bottom: 20px;
  left: 50%;
  z-index: 1000;
  line-height: 1.5;
  text-align: center;
  transform: translateX(-50%) translateZ(0);
}
.toast-list.center {
}
.toast-list.left {
  left: 30px;
  text-align: left;
  transform: translateX(0) translateZ(0);
}
.toast-list.right {
  right: 30px;
  left: auto;
  text-align: right;
  transform: translateX(0) translateZ(0);
}
.toast-message {
  opacity: 0;
  margin-bottom: 10px;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
}
.toast-content {
  display: inline-block;
  overflow: hidden;
  min-width: 290px;
  padding: 12px 22px;
  background: rgba(0, 0, 10, 0.8);
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
  vertical-align: top;
  white-space: pre-line;
}
.clickable {
  cursor: pointer;
}
:global .toast-enter {
  height: 0;
}
:global .toast-enter-active {
  opacity: 1;
}
:global .toast-enter-done {
  opacity: 1;
}
:global .toast-exit-active {
  transform: translateY(-10px);
}
